<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern2.middle-reh</key>
    <array>
      <string>alef-ar</string>
      <string>jeem-ar</string>
      <string>jeem-ar.init</string>
      <string>hah-ar</string>
      <string>hah-ar.init</string>
      <string>khah-ar</string>
      <string>khah-ar.init</string>
      <string>ain-ar.init</string>
      <string>feh-ar</string>
      <string>feh-ar.init</string>
      <string>veh-ar</string>
      <string>veh-ar.init</string>
      <string>fehDotless-ar</string>
      <string>fehDotless-ar.init</string>
      <string>fehDotmovedbelow-ar</string>
      <string>fehDotmovedbelow-ar.init</string>
      <string>qafDotless-ar</string>
      <string>qaf-ar</string>
      <string>qaf-ar.init</string>
      <string>qafDotabove-ar</string>
      <string>qafDotabove-ar.init</string>
      <string>kaf-ar</string>
      <string>kaf-ar.init</string>
      <string>lam-ar.init</string>
      <string>heh-ar</string>
      <string>heh-ar.init</string>
      <string>tehMarbuta-ar</string>
      <string>lam_alef-ar</string>
      <string>jeem_reh-ar</string>
      <string>hah_reh-ar</string>
      <string>khah_reh-ar</string>
    </array>
    <key>public.kern2.reh-reh</key>
    <array>
      <string>reh-ar</string>
      <string>zain-ar</string>
      <string>waw-ar</string>
    </array>
    <key>public.kern2.teh-reh</key>
    <array>
      <string>dal-ar</string>
      <string>thal-ar</string>
    </array>
    <key>public.kern2.waw-yeh</key>
    <array>
      <string>alefMaksura-ar</string>
    </array>
  </dict>
</plist>
