<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>reh-ar</key>
    <dict>
      <key>public.kern2.middle-reh</key>
      <integer>-140</integer>
      <key>public.kern2.reh</key>
      <integer>-180</integer>
      <key>public.kern2.reh-reh</key>
      <integer>-100</integer>
      <key>public.kern2.teh-reh</key>
      <integer>-180</integer>
    </dict>
    <key>reh-ar.fina</key>
    <dict>
      <key>public.kern2.middle-reh</key>
      <integer>-140</integer>
      <key>public.kern2.teh-reh</key>
      <integer>-180</integer>
    </dict>
    <key>waw-ar</key>
    <dict>
      <key>public.kern2.middle-reh</key>
      <integer>-140</integer>
      <key>public.kern2.reh-reh</key>
      <integer>-100</integer>
      <key>public.kern2.teh-reh</key>
      <integer>-140</integer>
      <key>public.kern2.waw-yeh</key>
      <integer>-100</integer>
    </dict>
    <key>waw-ar.fina</key>
    <dict>
      <key>public.kern2.middle-reh</key>
      <integer>-140</integer>
      <key>public.kern2.teh-reh</key>
      <integer>-140</integer>
    </dict>
    <key>zain-ar</key>
    <dict>
      <key>public.kern2.middle-reh</key>
      <integer>-140</integer>
      <key>public.kern2.reh-reh</key>
      <integer>-110</integer>
    </dict>
    <key>zain-ar.fina</key>
    <dict>
      <key>public.kern2.middle-reh</key>
      <integer>-140</integer>
    </dict>
  </dict>
</plist>
